@model List<Hospital>

<h1 style="color:blue">Hospitales EF</h1>

<p>
    <a asp-controller="Hospitales" asp-action="Create">
        New Hospital
    </a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Camas</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Hospital h in Model)
        {
            <tr>
                <td>@h.Nombre</td>
                <td>@h.Direccion</td>
                <td>@h.Telefono</td>
                <td>@h.Camas</td>
                <td>
                    <a asp-controller="Hospitales" asp-action="Details"
                        asp-route-idhospital="@h.IdHospital" class="btn btn-warning">
                        Details
                    </a>
                    <a asp-controller="Hospitales" asp-action="Edit"
                        asp-route-id="@h.IdHospital" class="btn btn-info">
                        Edit
                    </a>
                    <a asp-controller="Hospitales" asp-action="Delete"
                        asp-route-id="@h.IdHospital" class="btn btn-danger">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>